.benettonOnForumWrapper {
  display: flex;
  flex-direction: column;
  margin: 150px 0 90px 0;
  padding: 0 15px 0 15px;

  h1 {
    color: rgba(16, 142, 9, 0.5);
    font-size: 100px;
    margin: 0 auto;
    padding: 0;

  }
}

.tipMobile {
  display: none;
 padding: 0 25px 0 25px;
}

.benettonOnForumContentMobile{
  width: 100%;
  background: rgba(22, 28, 21, 0.44);
  backdrop-filter: blur(8px);
  margin-top: -30px;
  height: fit-content;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  position: relative;
  padding: 24px;
}

.benettonOnForumContent {
  width: 100%;
  background: rgba(22, 28, 21, 0.44);
  backdrop-filter: blur(8px);
  margin-top: -30px;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background: url("../../assets/images/half-logo.svg") no-repeat center center;
    background-size: contain;
  }

  section {
    display: flex;
    height: fit-content;
    gap: 15px;
    margin: 0 0 15px 0;

    &:first-child {
      display: flex;
      width: 100%;
      align-content: start;
      justify-content: start;
    }


  }
}

.tip {
  width: 240px;
  height: 65px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #161c15;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);

  p {
    font-size: var(--font-14px);
    color: var(--white);
  }
}

@media screen and (max-width: 1440px) {
  .benettonOnForumWrapper {


    h1 {
      color: rgba(16, 142, 9, 0.5);
      font-size: 80px;
      margin: 0 auto;
      text-align: center;
      padding: 0;

    }
  }
  .benettonOnForumContent {
    margin-top: -25px;
  }
}

.buttonGrid {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .buttonGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .buttonGrid section {
    margin-right: 0 !important;
    justify-content: center !important;
  }
}


@media screen and (max-width: 1275px) {

  .benettonOnForumContent{
    display: none;
    visibility: hidden;

    &::after {
      display: none;
    }

    section{
        display: none;
    }
  }

  .benettonOnForumContentMobile{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    margin-top: -10px;
  }

  .tip {
    display: none;
  }

  .tipMobile {
    display: flex;
  }



}

@media screen and (max-width: 1068px) {
  .benettonOnForumWrapper {


    h1 {
      color: rgba(16, 142, 9, 0.5);
      font-size: 50px;
      margin: 0 auto;
      text-align: center;
      padding: 0;
      line-height: 0.8;

    }
  }


}

@media screen and (max-width: 425px) {
  .benettonOnForumWrapper {


    h1 {
      color: rgba(16, 142, 9, 0.5);
      font-size: 35px;
      margin: 0 auto;
      text-align: center;
      padding: 0;
      line-height: 0.8;

    }
  }
}