.forumLink {
  width: 240px;
  height: 65px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--green);
  text-decoration: none;
  z-index: 1;
  color: var(--white);
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background: var(--secondary-color);
    color: var(--white);
  }
}

@media screen and (max-width: 1275px) {

  .forumLink{
    width: 100%;
    height: fit-content;
    padding: 12px;
    border-radius: 5px;
    background: var(--secondary-color);

    &:hover {
      background: var(--secondary-color-hovered);
    }
  }

}