.adminPanelWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding: 20px;

  h1 {
    color: var(--secondary-color);
    font-size: 80px;
    line-height: 0.6;
    text-align: center;
  }

  button{
    width: fit-content;
    display: flex;
    padding: 10px;
    margin: 15px auto;
    border-radius: 8px;
    font-size: 13px;
    color: var(--white);
    cursor: pointer;
    background: var(--secondary-color);
    border: none;

    &:hover {
      background: var(--secondary-color-hovered);
    }
  }
}

.adminPanelContent {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  border-radius: 8px;
  background-color: rgba(16, 57, 16, 0.37);
  backdrop-filter: blur(5px);
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: fit-content;
}

@media screen and (max-width: 676px){
  .adminPanelContent{
    grid-template-columns: repeat(2, 2fr);
  }

  .adminPanelWrapper{
    h1{
      line-height: 0.8;
      text-align: center;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 470px){
  .adminPanelContent{
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}