.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  text-align: center;

  p{
    color: var(--text-color-white);
    font-size: var(--font-14px);
    margin: 20px 0 20px 0;
    padding: 0;
  }

}