.custom-button {
  background-color: #1e3617;  // Adjust to match the exact green color
  color: #7bc671;  // Adjust the text color
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: #1e3617;
    border-radius: 0 50% 50% 0;
    transform: skewX(-20deg);
  }

  .button-text {
    margin-left: 30px; // Adjust for spacing
  }

  .arrow {
    margin-left: auto;
    margin-right: 20px; // Adjust for spacing
    font-size: 24px;
  }
}
