.linkButton{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 10px 35px 10px 35px;
  background: var(--green-dark);
  color: var(--white);
  transition: 0.2s ease-in-out;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 1590px) {
  .linkButton {
    font-size: 12px;
  }
}

@media screen and (max-width: 1440px) {
  .linkButton {
    font-size: 12px;
    padding: 10px 20px 10px 20px;
  }
}