@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto" , sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--white);
    background-image: url(./assets/images/glow-vector.svg);
    background-position: top;
    background-repeat: no-repeat;
}

:root {
    --primary-color: #161616;
    --secondary-color: #108e09;
    --secondary-color-hovered: #13a30b;
    --secondary-color-transparent: rgba(21, 30, 21, 0.54);
    --secondary-color-dark: #13550e;
    --green: #163515;
    --green-dark: #144313;
    --tertiary-color: #151b14;
    --search-bar-color: #011c01;
    --white: #fff;
    --text-color-white: #DFDFDF;
    --font-24px: 1.5rem;
    --font-20px: 1.25rem;
    --font-12px: 0.75rem;
    --font-14px: 0.875rem;
}
