@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto" , sans-serif;
}

body{
    background-color: var(--primary-color);
    color: var(--white);
}

:root {
    --primary-color: #161616;
    --secondary-color: #108e09;
    --secondary-color-transparent: rgba(16, 142, 9, 0.22);
    --secondary-color-dark: #13550e;
    --green-dark: #0f430a;
    --tertiary-color: #151b14;
    --white: #fff;
    --font-24px: 1.5rem;
}
