.workOfferWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 120px 15px 120px 15px;

  h3 {
    font-size: 40px;
    margin: 0 auto 30px auto;
    padding: 0;
    color: rgba(16, 142, 9, 0.5);
  }
}

.workOfferContent {
  display: flex;
  width: 100%;
  gap: 10px;
}

.partnerShip {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;

  p {
    padding: 10px;
    border-radius: 8px;
    background: #151b14;
  }

  .partnerLink {
    padding: 10px;
    border-radius: 8px;
    background: var(--secondary-color);
    color: var(--white);
    text-decoration: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    transition: 0.2s ease-in-out;

    &:hover {
      background: var(--secondary-color-hovered);
    }
  }
}

.staff {
  display: flex;
  width: 50%;
  gap: 10px;
  background: #151b14;
  border-radius: 8px;
  justify-content: space-between;
  padding: 10px;

  section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 45%;

    p {
      color: var(--white);
      font-size: var(--font-14px);
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 1475px) {
  .staff{


    section{
      width: 35%;

      h4{
        font-size: 14px;
        margin: 10px 0 5px 0;
      }

      p{
        font-size: 12px;
      }
    }
  }

}

@media screen and (max-width: 1275px) {

  .workOfferWrapper{


    h3{
      font-size: 45px;
      line-height: 0.8;
      text-align: center;
      width: 100%;
    }
  }
  .workOfferContent {
    flex-direction: column;
  }

  .partnerShip{
    width: 100%;
  }

  .staff{
    width: 100%;
  }

  .workOfferContent{
    margin-top: -31px;
  }


}

@media screen and (max-width: 665px) {

  .staff{
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;

    section{
      width: 100%;
      text-align: center;
    }
  }

}